

#resultados:hover{
    background: darkslategrey;
}

.prognose, .modelo, .ajuste, .validacao, .dap, .ht, .volume, .estatisticas, .graficos, .grafico, .stat{
    list-style: none;
    margin-left: -30px;
    font-size: 14px;
    margin-top: 15px;
}

.prognose.act, .prognose.act:hover{
background: #005100;
}

.modelo.act, .modelo.act:hover{
background: #009a2a;
}

.ajuste.act, .ajuste.act:hover, .validacao.act, .validacao.act:hover{
background: #00bd61;
}

.dap.act, .dap.act:hover, .ht.act, .ht.act:hover, .volume.act, .volume.act:hover{
background: #5ebc7f;
}

.estatisticas.act, .estatisticas.act:hover, .graficos.act, .graficos.act:hover{
    background: #78d261;
}

.grafico.act, .grafico.act:hover, .stat.act, .stat.act:hover{
    background: #83f1a9;
}

.prognose:hover {
    background: #053302;
}

.modelo:hover {
    background: #054700;
}

.ajuste:hover, .validacao:hover {
    background: #076600;
}

.dap:hover, .ht:hover, .volume:hover {
    background: #0a8300;
}

.estatisticas:hover, .graficos:hover {
    background: #0ca300;
}

.grafico:hover, .stat:hover{
    background: #2cb01c;
}


.projeto{
    font-size: 30px;
    font-variant: small-caps;
    line-height: 8px;
}

.cenario{
    font-size: 20px;
}

.sidebar {
    margin-top: 60px;
    z-index: 1000;
    position: fixed;
    margin-left: - 300px;// $sideWidth;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #353d47;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    height: calc(100vh - 60px);
    overflow-x: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar .user-info {
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid  #6c6c6c;
    background-image: url(../../../content/images/backinfo.png);
    background-size: cover;
    height: 140px;
}

.sidebar .user-info .image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom !important;
}

.sidebar .user-info .info-container {
    cursor: default;
    display: block;
    position: relative;
    top: 25px;
}

.sidebar .user-info .info-container .name {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    max-width: 200px;
    color: #fff;
}

.sidebar .user-info .info-container .email {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    max-width: 200px;
    color: #fff;
}


.sidebar .user-info .info-container .fixSidebar {
    position: absolute;
    right: -3px;
    bottom: -12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
}


.sidebar .menu {
    position: relative;
    overflow-y: auto;
    height: calc(100vh - 270px);
}

.sidebar .menu .list {
    list-style: none;
    padding-left: 0;
    cursor: pointer;
}

li.nivel1{
    font-weight: 500;
}
li.nivel1:hover{
    background: #01392e;
}
li.nivel1.ativo, li.nivel1.ativo:hover{
    background: darkslategrey;
}

.sidebar .menu li{
    color: white;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar .menu .nivel2:hover {
    background: #233c3c;
}
.sidebar .menu .nivel2{
    font-weight: normal;
}

.sidebar .menu .list .header {
    background: #006958;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
    color: white;
}


.sidebar .footer {
    display: inherit;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 5px;
    overflow: hidden;
    height: 70px;
    font-size: 12px;
}

.right{
    float: right;
}

.trash{
    float: right;
    margin-top: 1%;
}

.lista {
    margin-top: 5px;
}
