<div>
    <h2>
        <span jhiTranslate="itgmApp.cenario.home.title">Cenarios</span>
        <button class="btn btn-primary float-right create-cenario" [routerLink]="['/', { outlets: { popup: ['cenario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="itgmApp.cenario.home.createLabel">
            Create new Cenario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cenarios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="itgmApp.cenario.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="caminho"><span jhiTranslate="itgmApp.cenario.caminho">Caminho</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="projeto.id"><span jhiTranslate="itgmApp.cenario.projeto">Projeto</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cenario of cenarios ;trackBy: trackId">
                <td><a [routerLink]="['../cenario', cenario.id ]">{{cenario.id}}</a></td>
                <td>{{cenario.nome}}</td>
                <td>{{cenario.caminho}}</td>
                <td>
                    <div *ngIf="cenario.projeto">
                        <a [routerLink]="['../projeto', cenario.projeto?.id ]" >{{cenario.projeto?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cenario', cenario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cenario/'+ cenario.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cenario/'+ cenario.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="cenarios && cenarios.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
