<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myModeloExclusivoLabel" jhiTranslate="itgmApp.modeloExclusivo.home.createOrEditLabel">Create or edit a Modelo Exclusivo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!modeloExclusivo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="modeloExclusivo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="itgmApp.modeloExclusivo.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="modeloExclusivo.nome"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="itgmApp.modeloExclusivo.mapeamento" for="field_mapeamento">Mapeamento</label>
            <input type="text" class="form-control" name="mapeamento" id="field_mapeamento"
                [(ngModel)]="modeloExclusivo.mapeamento"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="itgmApp.modeloExclusivo.palpite" for="field_palpite">Palpite</label>
            <input type="text" class="form-control" name="palpite" id="field_palpite"
                [(ngModel)]="modeloExclusivo.palpite"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="itgmApp.modeloExclusivo.modelo" for="field_modelo">Modelo</label>
            <select class="form-control" id="field_modelo" name="modelo" [(ngModel)]="modeloExclusivo.modelo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="modeloOption.id === modeloExclusivo.modelo?.id ? modeloExclusivo.modelo : modeloOption" *ngFor="let modeloOption of modelos; trackBy: trackModeloById">{{modeloOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="itgmApp.modeloExclusivo.cenario" for="field_cenario">Cenario</label>
            <select class="form-control" id="field_cenario" name="cenario" [(ngModel)]="modeloExclusivo.cenario" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cenarioOption.id === modeloExclusivo.cenario?.id ? modeloExclusivo.cenario : cenarioOption" *ngFor="let cenarioOption of cenarios; trackBy: trackCenarioById">{{cenarioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
