<div>
    <h2>
        <span jhiTranslate="itgmApp.customize.home.title">Customizes</span>
        <button class="btn btn-primary float-right create-customize" [routerLink]="['/', { outlets: { popup: ['customize-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="itgmApp.customize.home.createLabel">
            Create new Customize
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customizes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sidebar"><span jhiTranslate="itgmApp.customize.sidebar">Sidebar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="color"><span jhiTranslate="itgmApp.customize.color">Color</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar"><span jhiTranslate="itgmApp.customize.avatar">Avatar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="desktop"><span jhiTranslate="itgmApp.customize.desktop">Desktop</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="itgmApp.customize.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="projeto.id"><span jhiTranslate="itgmApp.customize.projeto">Projeto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cenario.id"><span jhiTranslate="itgmApp.customize.cenario">Cenario</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customize of customizes ;trackBy: trackId">
                <td><a [routerLink]="['../customize', customize.id ]">{{customize.id}}</a></td>
                <td>{{customize.sidebar}}</td>
                <td>{{customize.color}}</td>
                <td>
                    <a *ngIf="customize.avatar" (click)="openFile(customize.avatarContentType, customize.avatar)">
                        <img [src]="'data:' + customize.avatarContentType + ';base64,' + customize.avatar" style="max-height: 30px;" alt="customize image"/>
                    </a>
                    <span *ngIf="customize.avatar">{{customize.avatarContentType}}, {{byteSize(customize.avatar)}}</span>
                </td>
                <td>{{customize.desktop}}</td>
                <td>
                    {{customize.user?.login}}
                </td>
                <td>
                    <div *ngIf="customize.projeto">
                        <a [routerLink]="['../projeto', customize.projeto?.id ]" >{{customize.projeto?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customize.cenario">
                        <a [routerLink]="['../cenario', customize.cenario?.id ]" >{{customize.cenario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customize', customize.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customize/'+ customize.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customize/'+ customize.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="customizes && customizes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
